
.Issues {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.Issues-pageHeader {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}
.mq-md .Issues-pageHeader {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Issues-headerContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.Issues-pageTitle {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  color: var(--clr-on-surface-a0);
  margin: 0;
}

.Issues-pageSubtitle {
  color: var(--clr-text-a10);
  margin: 0;
}

.Issues-searchAndFilter {
  display: flex;
  flex-direction: row;
  gap: var(--space-4);
}

.Issues-list {
  border: 1px solid var(--clr-surface-a60);
  background: var(--clr-surface-a40);
  border-radius: var(--radius-lg);
  overflow: hidden;
}

.Issues-rowGrid {
  display: flex;
  width: 100%;
  gap: 0;
  border-top: 1px solid var(--clr-surface-a60);
}

.Issues-rowGrid:first-of-type {
  border-top: 0;
}

.Issues-statusCell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-4);
  background: var(--clr-success-a0);;
}
.Issues-statusCell--open {
  background: transparent
}

.Issues-detailsCell {
  padding: var(--space-4);  
  width: 100%;
  cursor: pointer;
}
.Issues-detailsCell:hover {
  background: var(--clr-surface-a10);
}

.Issues-titleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-3);
  margin-bottom: var(--space-2);
}

.Issues-titleLeft {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}
.Issues-titleText-type-bug {
  color: var(--clr-error-a0);
}
.Issues-titleText-type-feature {
  color: var(--clr-primary-a50);
}
.Issues-titleText-type-enhancement {
  color: var(--clr-success-a0);
}
.Issues-titleText-type-doc {
  color: var(--clr-warning-a50);
}

.Issues-titleText {
  margin: 0;
  font-weight: var(--font-weight-medium);
  color: var(--clr-on-surface-a0);
}

.Issues-snippet {
  color: var(--clr-text-a10);
  margin-bottom: var(--space-3);
}

.Issues-labelsRow {
  display: flex;
  gap: var(--space-2);
  flex-wrap: wrap;
}

.Issues-moreText {
  font-size: var(--font-size-xs);
  color: var(--clr-text-a10);
}
/* label chip handled by IssueLabel component */

.Issues-footerRow {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  color: var(--clr-text-a10);
  font-size: var(--font-size-sm);
}