.ViewportControls {
  min-height: var(--header-height);
  max-height: var(--header-height);
  display: flex;
  align-items: center;
}

.ViewportControls-helperText {
  color: var(--clr-surface-a80);
  font-size: 0.85rem;
  font-weight: 400;
}

.ViewportControls-zoomControls {
  gap: var(--space-2);
  align-items: center;
  margin-left: var(--space-4);
  padding-left: var(--space-4);
  border-left: 1px solid var(--clr-surface-a60);
}

.ViewportControls-zoomDisplay {
  color: var(--clr-text-a10);
  font-size: 12px;
  font-weight: 500;
  min-width: 38px;
  text-align: center;
  padding: 0 4px;
  border-radius: 4px;
}
