.Tooltip-element:global(.tooltip-element) {
  background-color: var(--clr-surface-a20);
  color: var(--clr-on-surface-a0);
  border: 1px solid var(--clr-surface-a40);
  padding: var(--space-2);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-2xl);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  z-index: var(--z-tooltip);
  pointer-events: none;
  word-wrap: break-word;
}

.Tooltip-arrow:global(.tooltip-arrow) {
  border-right: 1px solid var(--clr-surface-a40);
  border-bottom: 1px solid var(--clr-surface-a40);
}