

.ComponentTags {
  background: var(--clr-primary-a10);
  color: var(--clr-primary-a70);
  font-size: var(--font-size-xs);
  padding: calc(var(--space-1) / 2) var(--space-1);
  border-radius: var(--radius-sm);
  font-weight: var(--font-weight-medium);
}