.Components {
  [class*="_ComponentList_"] {
    width: 100%;
    display: none;
    margin-top:0;
  }
  [class*="_ComponentList_"]:has([data-component-name]) {
    display: block;
  }
  button[class*="_ComponentList-title_"] {
    border-radius: var(--radius-md);
    padding: var(--space-3) var(--space-2);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
    &:hover, &:active {
      background: var(--color-primary-950);
      color: var(--text-color-primary);
    }
  }
}