.DrawerItem {
  gap: var(--space-3);
  padding: var(--space-2);
  background-color: var(--clr-surface-a10);
  border-radius: var(--radius-md);
  cursor: move;
  transition: all 0.2s ease;
  position: relative;
  color: var(--clr-on-surface-a0);
  &:active, &:hover, &:focus {
    background-color: var(--clr-surface-a70);
    .DrawerItem-Icon {
      color: currentColor;
    }
  }
}
.DrawerItem-proxied {
  background-color: var(--clr-warning-a20);
  color: var(--clr-warning-a80);
  .DrawerItem-Icon {
    color: var(--clr-warning-a80);
  }
  &:hover, &:active, &:focus {
    background-color: var(--clr-warning-a30);
  }
}

.DrawerItem-Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-text-a10);
  transition: color 0.2s ease;
}

.DrawerItem-Name {
  font-size: var(--font-size-sm);
  color: currentColor;
}



