.RightSidebar-collapsedSidebar {
  background-color: var(--clr-surface-a10);
  border-left: 1px solid var(--clr-surface-a60);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: var(--space-2) 0;
}

.RightSidebar-expandedSidebar {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: var(--clr-surface-a10);
  border-left: 1px solid var(--clr-surface-a60);
  display: flex;
  flex-direction: column;
}

.RightSidebar-sidebarHeader {
  padding: var(--space-3);
  border-bottom: 1px solid var(--clr-surface-a60);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-2);
  height: var(--header-height);
  flex-grow: 0;
  flex-shrink: 0;
}

.RightSidebar-sidebarTitle {
  font-weight: var(--font-weight-medium);
  color: var(--clr-on-surface-a0);
  font-size: var(--font-size-base);
  margin: 0;
  display: flex;
  align-items: center;
  gap: var(--space-2);
  width: 100%;
  min-width: 0;
  overflow: hidden; /* ensure internal flex children can shrink without overflowing parent */
}

.RightSidebar-sidebarContent {
  display: flex;
  flex-direction: column;
  max-height: calc(100% - var(--header-height));
  overflow-y: auto;
}

.RightSidebar-breadcrumbsWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  flex: 1 1 auto;
  min-width: 0; /* allow flexbox to shrink this container */
  overflow: hidden;
}

.RightSidebar-breadcrumbsRow {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  overflow: hidden; /* hide overflowed breadcrumbs if any transiently extend */
}

.RightSidebar-breadcrumb {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  flex-wrap: nowrap;
  &:hover, &:active, &:focus {
    cursor: pointer;
    text-decoration: underline;
  }
}

.RightSidebar-breadcrumbLabel {
  font-size: var(--font-size-base);
  line-height: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  color: var(--clr-text-a10);
}
