.RightSidebar-collapsedSidebar {
  background-color: var(--color-gray-900);
  border-left: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: var(--space-2) 0;
}

.RightSidebar-expandedSidebar {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: var(--color-gray-900);
  border-left: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
}

.RightSidebar-sidebarHeader {
  padding: var(--space-3);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-2);
  height: var(--header-height);
  flex-grow: 0;
  flex-shrink: 0;
}

.RightSidebar-sidebarTitle {
  font-weight: var(--font-weight-medium);
  color: var(--color-text-primary);
  font-size: var(--font-size-base);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-2);
  width: 100%;
}

.RightSidebar-sidebarContent {
  display: flex;
  flex-direction: column;
  max-height: calc(100% - var(--header-height));
  overflow-y: auto;
}