
.PopupIdField {
  display: flex;
  gap: var(--space-2);
  flex-direction: column;
  padding: var(--space-3);
  margin-top: var(--space-2);
  > p {
    color: var(--color-text-primary);
    margin-top: var(--space-2);
    margin-bottom: var(--space-2);
  }
}

.PopupIdField-divider {
  border: none;
  border-top: 1px solid var(--color-border);
  margin: 0;
}


.PopupIdField-orb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.PopupIdField-orb-success {
  background: var(--color-success-500);
}

.PopupIdField-orb-warning {
  background: var(--color-warning-500);
}