
.PopupIdField {
  display: flex;
  gap: var(--space-2);
  flex-direction: column;
  padding: var(--space-3);
  margin-top: var(--space-2);
  > p {
    color: var(--clr-on-surface-a0);
    margin-top: var(--space-2);
    margin-bottom: var(--space-2);
  }
}

.PopupIdField-divider {
  border: none;
  border-top: 1px solid var(--clr-surface-a60);
  margin: 0;
}


.PopupIdField-orb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.PopupIdField-orb-success {
  background: var(--clr-success-a0);
}

.PopupIdField-orb-warning {
  background: var(--clr-warning-a50);
}