.Spinner {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--space-2);
}

.Spinner--absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}

.Spinner--absolute.Spinner--hasText {
  transform: translate(-50%, calc(-50% - 1rem));
}



.Spinner-spinner {
  -webkit-animation: spinner-spin 2s linear infinite;
          animation: spinner-spin 2s linear infinite;
  z-index: 2;
}

.Spinner-spinnerPath {
  stroke: var(--spinner-color, var(--color-gray-50));
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite;
}

/* Spinner track (background circle) */
.Spinner-spinnerTrack {
  stroke: var(--spinner-track-color, var(--color-gray-700));
  stroke-linecap: round;
}

.Spinner-spinnerText {
  white-space: nowrap;
  font-size: 1rem;
}

@keyframes spinner-spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: var(--small-dash) var(--full-circle);
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: var(--large-dash) var(--full-circle);
    stroke-dashoffset: var(--mid-offset);
  }
  100% {
    stroke-dasharray: var(--large-dash) var(--full-circle);
    stroke-dashoffset: var(--end-offset);
  }
}

