.optionRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 1rem;
  width: 100%;
}

.icon {
  display: flex;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 auto;
}

.name {
  font-size: 0.9rem;
  white-space: nowrap;
}

.id {
  font-size: 0.8rem;
  opacity: 0.7;
  white-space: nowrap;
}


