.optionRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: var(--space-4);
  width: 100%;
  --entity-field-icon-size: 24px;
}

.icon {
  display: flex;
  flex-shrink: 0;
  width: var(--entity-field-icon-size);
  height: var(--entity-field-icon-size);
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 auto;
  gap: calc(var(--space-1) / 2)
}

.name {
  font-size: 0.9rem;
  display: inline-block;
  max-width: 100%;          
  overflow: hidden;         
  white-space: nowrap;      
  text-overflow: ellipsis;  
}

.labels {
  font-size: 0.8rem;
  color: var(--clr-text-a30);
  display: inline-block;
  max-width: 100%;          
  overflow: hidden;         
  white-space: nowrap;      
  text-overflow: ellipsis;  
}