
.colorField {
  cursor: pointer;
}

.swatch {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid var(--color-gray-500);
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.picker {
  position: relative;
  z-index: 10;
}

.popover {
  border-radius: 9px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background-color: #111;
  padding: 6px;
  /* Pseudo-element for arrow */
}

.portalWrapper {
  position: relative;
  transform: translate3d(calc(-100% - 5px), -50%, 0);
}

.popover:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #111;
  transform: translateX(100%) translateY(calc(-50% - 10px));
}
