
.colorField {
  cursor: pointer;
}

.swatch {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid var(--clr-surface-a50);
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.picker {
  position: relative;
  z-index: 10;
}

.popover {
  border-radius: var(--radius-md);
  background-color: var(--clr-surface-a10);
  border: 1px solid var(--clr-surface-a60);
  padding: 6px;
  /* Pseudo-element for arrow */
}

.portalWrapper {
  z-index: var(--z-popover)
}

