
.colorField {
  cursor: pointer;
}

.swatch {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid var(--color-gray-500);
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.picker {
  position: relative;
  z-index: 10;
}

.popover {
  border-radius: var(--radius-md);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-600);
  padding: 6px;
  /* Pseudo-element for arrow */
}

.portalWrapper {
  z-index: var(--z-popover)
}

