.labelRow {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-bottom: var(--space-2);
}

.simpleRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: var(--space-2);
}

.firstRow {
  width: 100%;
}

.labelText {
  font-weight: var(--font-weight-medium);
  color: var(--clr-text-a0);
  user-select: none;
  width: 100%;
}
.labelIcon {
  display: flex;
  padding-left: 0;
  color: var(--clr-primary-a40);
  filter: saturate(50%);
}
.disabledIcon {
  color: var(--clr-text-a10);
  margin-left: auto;
}
