.helperText {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-normal);
  color: var(--clr-text-a10);
  margin-top: var(--space-2);
  user-select: none;
  cursor: default;
}
.errorText {
  color: var(--clr-danger-a0);
}