
.imageField {
  cursor: pointer;
}

.fileInput {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.imagePreview {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--radius-md);
}

.imagePreview div {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.middleAdornment {
  position: absolute;
  top: 0;
  margin-left: 40px;
  padding-left: 10px;
  width: calc(100% - 40px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  overflow: hidden;
}

.stats {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  gap: var(--space-1);
  margin-left: var(--space-1);
}

.stats span {
  font-size: var(--font-size-xs);
  padding-left: var(--space-1);
  color: var(--color-text-secondary);
}

.linearProgress {
  position: absolute !important;
  bottom: 0px;
  left: 0px;
  right: 0;
}

.deleteButton {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.deleteButton:hover {
  opacity: 1;
}

.imageField .startAdornment {
  padding: 2px;
}