

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

#root {
  height: 100%;
}

/* Base styles for consistent typography */
body {
  font-family: var(--font-family);
  color: var(--clr-on-surface-a0);
  background-color: var(--clr-surface-a0);
  margin: 0;
}

/** save printer ink **/
@media print {
  body {
    background-color: white;
  }
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */



* {
  box-sizing: border-box;
  ::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0.5);
    background: color-mix(in srgb, var(--clr-surface-a0) 50%, transparent)
  }

  /* Works on Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: var(--clr-surface-a10);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--clr-surface-a70);
    border-radius: 20px;
    border: 3px solid var(--clr-surface-a10);
  }
}

.Puck {
  width: 100%;
  height: 100%;
} 
/* ensure the div wrapping the editor wrapper is full height/width */
.Puck > div:has(.puck-editor-wrapper) {
  width: 100%;
  height: 100%;
}
[class*="_PuckPreview_"] {
  width: 100%;
}
[class*="_PuckFields_"] {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  margin: 0;
}

[class*="_PuckFields_"] > [class*="_PuckFields-field_"] {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
[class*="_PuckFields--wrapFields_"] > [class*="_PuckFields-field_"]:first-of-type {
  padding-top: var(--space-4);  
}
[class*="_PuckFields--wrapFields_"] > [class*="_PuckFields-field_"] + [class*="_PuckFields-field_"] {
  border: none;
  margin: 0;
}

[class*="_InputWrapper_"] + [class*="_InputWrapper_"] {
  margin-top: var(--space-5);
}
[class*="_PuckFields-field_"] + [class*="_PuckFields-field_"] {
  margin-top: var(--space-5);
}
/* add some padding to top level fields that are not objects */
[class*="_PuckFields-field_"] > [class*="_InputWrapper_"]:not(:has([class*="field-object"])) {
  padding: var(--space-3);
}
/** when a field is a hidden field type, we should hide it from the UI for consistent spacing **/
[class*="_PuckFields-field_"]:has(>[class*="_InputWrapper_"]>.field-hidden) {
  display: none;
}
/* If the field is hidden via the visible function, we should remove padding */
[class*="_PuckFields-field_"]>[class*="_InputWrapper_"]:has(>[style*="display: none"]) {
  padding: 0;
}
body, html {
  width: 100%;
  height: 100%;
}

:focus-visible {
  outline: 1px solid var(--clr-primary-a60);
}