/* Markdown Renderer */
.MarkdownRenderer {
  color: var(--clr-text-a10);
  line-height: var(--line-height-relaxed);
}

.MarkdownRenderer :global(a) {
  color: var(--clr-primary-a60);
}

.MarkdownRenderer :global(.markdown-image-wrapper) {
  display: inline-block;
  max-width: 400px;
  max-height: 400px;
  cursor: pointer;
}

.MarkdownRenderer :global(.markdown-image-wrapper img) {
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 400px;
}
