

.Tabs {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  width: 100%;
}

.Tabs-list {
  display: flex;
  gap: var(--space-2);
}

.Tabs-list--borderBottom {
  border-bottom: 1px solid var(--clr-surface-a60);
}

.Tabs-list--fluid {
  width: 100%;
}

.Tabs-list--fluid .Tabs-control {
  flex: 1 1 0;
}

.Tabs-list--justifyCenter {
  justify-content: center;
}

.Tabs-control {
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  padding: var(--space-3) var(--space-4);
  color: var(--clr-text-a10);
  cursor: pointer;
  transition: color var(--transition-normal);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.Tabs-control:hover {
  color: var(--clr-on-surface-a0);
  background: var(--clr-surface-a10);
}

.Tabs-control--active {
  color: var(--clr-on-surface-a0);
}

.Tabs-control--active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: var(--clr-primary-a50);
}

.Tabs-content {
  padding-top: 0;
}

.Tabs-panel {
  display: none;
}

.Tabs-panel--active {
  display: block;
}


