.Row {
  display: flex;
  flex-direction: row;
}

/* Width/Height */
.Row--fullWidth {
  width: 100%;
}

.Row--fullHeight {
  height: 100%;
}

/* Wrap */
.Row--wrapWrap {
  flex-wrap: wrap;
}

.Row--wrapNoWrap {
  flex-wrap: nowrap;
}

/* Justify Content */
.Row--justifyCenter {
  justify-content: center;
}

.Row--justifyFlexStart {
  justify-content: flex-start;
}

.Row--justifyFlexEnd {
  justify-content: flex-end;
}

.Row--justifySpaceBetween {
  justify-content: space-between;
}

.Row--justifySpaceAround {
  justify-content: space-around;
}

.Row--justifySpaceEvenly {
  justify-content: space-evenly;
}

.Row--justifyStretch {
  justify-content: stretch;
}

/* Align Items */
.Row--alignCenter {
  align-items: center;
}

.Row--alignFlexStart {
  align-items: flex-start;
}

.Row--alignFlexEnd {
  align-items: flex-end;
}

.Row--alignStretch {
  align-items: stretch;
}

.Row--alignBaseline {
  align-items: baseline;
}


