
.UnitField :global( .endAdornment .select-input-wrapper), .UnitField :global( .startAdornment .select-input-wrapper) {
  border: 0;
  border-left: 1px solid var(--clr-surface-a60);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}