.CodeField {
  position: relative;
  width: 100%;
}

.CodeField-editButton {
  position: relative;
  height: 100%;
}

.CodeField-saveButton {
  position: relative;
  height: 100%;
}

.CodeField-cancelButton {
  position: relative;
  height: 100%;
}